<!DOCTYPE html>
<html lang="pl">

<head>
    <title>[401] MakaPaka</title>
    <meta charset="utf-8">
    <link href="/styles/errors.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Cambay&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body>
    <section>
        <h1>Błąd 401!</h1>
        <p>
            Nie masz dostępu do żądanego zasobu. Nie wiem, kim jesteś.
            <a href="https://localhost:8085/">Zawróć!</a>
        </p>
        <p>
            <strong>Szczegóły błędu:</strong>
            {{error}}
        </p>
    </section>
</body>

</html>